<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- <add key="WSGI_HANDLER" value="ptvs_virtualenv_proxy.handler" /> -->
    <!-- Make sure HOSTNAME\IIS_IUSRS can write to this -->
    
    <add key="PYTHONPATH" value="C:\Admin_Utilities\adminScripts\firelight-utilities\server" />
    <add key="WSGI_HANDLER" value="server.app" />
        <add key="DEBUG" value="True" />
    <!-- <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS" value="c:\inetpub\pyroot\default\env\Scripts\activate_this.py" /> -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- 
        this requires the rewrite module, available at http://www.iis.net/learn/extensions/url-rewrite-module/using-the-url-rewrite-module
        and tweaking C:\Windows\System32\inetsrv\config\applicationHost.config 
        
        %windir%\system32\inetsrv\appcmd.exe unlock config -section:system.webServer/handlers
        %windir%\system32\inetsrv\appcmd.exe unlock config -section:system.webServer/modules
     -->
    <rewrite>
      <rules>
        <rule name="Configure Python" enabled="false" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
        <httpErrors errorMode="Detailed" />
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,RequestRouting" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>
        <handlers>
            <add name="Script Server Python FastCgi Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Admin_Utilities\adminScripts\firelight-utilities\server\script_server\Scripts\python.exe|C:\Admin_Utilities\adminScripts\firelight-utilities\server\script_server\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
  </system.webServer>
</configuration>


<!-- <?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="flasksite" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python36\python.exe|C:\Admin_Utilities\adminScripts\firelight-utilities\server\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,RequestRouting" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Admin_Utilities\adminScripts\firelight-utilities\server" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
</configuration>
 -->